
<div id="header_logo" class="d-flex align-items-center justify-content-between">
    <img class="img-fluid " src="/images/logo/logo.svg" style="width: 20% ">
    <a class="nav-link" href="#">
        <span style="display:flex; align-items: center;">
            <strong class="text-center">hello</strong>
            <i class="fa fa-bell" aria-hidden="true"></i>
        </span>

    </a>
</div>
<hr class="bg-dark h1" style="height: 5px; border-radius: 40%;">

<div id="header_row_2" class="text-bg-dark d-flex justify-content-between">
    <div>
        <h5>Hello Name SURNAME</h5>
        <div class="d-flex justify-content-start ">
            <p class="text-bg-primary  bg-transparent  m-3"> some information </p>
            <button class="bg-transparent border-0">

                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </div>

        <ul id="navigation" class="nav  align-items-baseline">
            <li class="nav-item">
                <a class="nav-link active" asp-controller="Home" asp-action="Index">
                    My Meta CV
                    <hr class="bg-light h1" style="height: 5px; border-radius: 40%;">
                </a>

            </li>
            <li class="nav-item ">
                <a class="nav-link" asp-controller="Home" asp-action="Search">
                    Search
                    <hr class="bg-light h1" style="height: 5px; border-radius: 40%;">
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <span class="d-flex align-items-baseline">
                        <strong class="text-center">Log Out</strong>
                        <i style="font-size: 20px; margin-left:5px" class="fa fa-sign-out" aria-hidden="true"></i>

                    </span>
                    <hr class="bg-light h1" style="height: 5px; border-radius: 40%;">
                </a>
            </li>


        </ul>
    </div>

    <div id="profil_picture">

        <a href="#">
            <div class="circle-wrap">
                <div class="circle">
                    <div class="mask full">
                        <div class="fill"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill"></div>
                    </div>
                    <div class="inside-circle">
                        <img style="height: 120px; width: 120px;" src="/images/profile/8.svg">
                    </div>
                </div>
            </div>
        </a>


    </div>
</div>
<hr class="bg-dark h1" style="height: 5px; border-radius: 40%;">

<link href="~/css/profile.circler.progress.css" rel="stylesheet" />