@using ui.Models;
@model AuthModel;
@{

    ViewData["Title"] = "Authacantation";
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Auth"] - humanas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" />

</head>
<body class="container-fluid  ">

    <div class="row">
        <div class="col">
            <h3>Employee login</h3>
            <p>some paragraph</p>
            <button class="linkedin_login">
                <img src="~/images/social.media/linkedin.png" alt="Sol Resim">
                <div>
                    <span>Buton Metni</span>
                </div>
            </button>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <h3>Employee login</h3>
            <p>some paragraph</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form asp-controller="Auth" asp-action="LogInOrSıgnIn" method="post">
                <div style="margin-bottom: 10px;">
                    <label for="Email">E-posta:</label>
                    <input asp-for="Email" type="email" id="email" name="email" placeholder="E-posta adresinizi girin">
                </div>
                <div style="margin-bottom: 20px;">
                    <label for="Password">Şifre:</label>
                    <input asp-for="Password" type="password" id="password" name="password" placeholder="Şifrenizi girin">
                </div>
                <button type="submit">Giriş Yap</button>
            </form>
        </div>
    </div>


</body>
</html>


